* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}
:root {
  --sub-tittle: 1.5rem;
  --f-tittle: 2.5rem;
  --my-gray: rgb(60, 60, 60);
  --top-gray: rgb(44, 44, 44);
  --top-font: 5rem;
}
html {
  font-family: "Heebo", sans-serif;
  font-family: "Jost", sans-serif;
}

.wrapper {
  margin: 3rem auto;
  max-width: 1200px;
  padding: 0rem 4rem;
}

@media only screen and (max-width: 500px) {
  .menu_text {
    display: none;
  }
  .central_text h1 {
    text-align: center;
  }
  .central_text h2 {
    text-align: center;
  }
  .central_text h3 {
    text-align: center;
  }
  .projects {
    justify-content: center;
  }
  .container {
    grid-template-columns: 500px;
  }
  .blocks h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: 300px;
    text-align: center;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0%;
  width: auto;
  height: 4rem;
}

a {
  text-decoration: none;
  color: black;
}
.taylor_text {
  font-size: var(--f-tittle);
  font-weight: 400;
}

header .boxs {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

header .menu_text {
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 0.4rem;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.menu a {
  transition: 0.3s;
  transform: rotate(90deg);
  line-height: 0.1rem;
}

.menu a:hover {
  transition: 0.3s;
  letter-spacing: 0.2rem;
  transform: rotate(180deg);
  color: var(--my-gray);
}
/*-------------------------------------*/

main {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}
main .central_text {
  display: flex;
}
main .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  margin-left: 6rem;
  border-radius: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card img {
  width: auto;
  height: auto;
  border-radius: 1rem;
  max-width: 210px;
}

.card .name {
  flex-direction: co;
  font-weight: 700;
  color: white;
}

main h1 {
  max-width: 50rem;
  line-height: 5rem;
  font-size: 5rem;
}

main h2 {
  font-size: var(--sub-tittle);
  margin-bottom: 1.5rem;
  color: gray;
  font-weight: 400;
}
main h2:hover {
  color: var(--my-gray);
}

main h3 {
  margin-top: 1.5rem;
  color: gray;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 700px;
}

.projects {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: left;
  gap: 1.4rem;
}

.projects div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.projects img {
  align-items: center;
}

/*---------------*/

.contactme {
  display: flex;
  justify-content: center;
}
.contactme img {
  margin-top: 2rem;
  transform: rotate(90deg);
  height: auto;
  width: auto;
  max-height: 30px;
}

/*---------------*/

.blocks {
  margin-top: 10rem;
  margin: 0 auto;
}
.blocks h1 {
  color: gray;
  font-size: var(--f-tittle);
  font-weight: 500;
  margin-bottom: 2rem;
}

.container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 300px 300px 300px;
  column-gap: 4rem;
  row-gap: 1rem;
  place-content: center;
}

.container div {
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  max-width: 300px;
  max-height: 150px;
  min-width: 200px;
  min-height: 100px;
}

.container .kostexperience {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

.container .obaexperience {
  background: rgb(9, 97, 11);
  background: linear-gradient(
    90deg,
    rgba(9, 97, 11, 1) 14%,
    rgba(15, 255, 65, 1) 100%
  );
  color: white;
}

.container .techexperience {
  background: rgb(0, 80, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 80, 255, 1) 14%,
    rgba(156, 141, 255, 1) 100%
  );
  color: rgb(202, 202, 202);
}

@media only screen and (max-width: 1030px) {
  .container {
    display: grid;
    margin: 0 auto;
    margin-top: 2rem;
    grid-template-columns: 300px 300px;
    column-gap: 4rem;
    row-gap: 1rem;
    place-content: center;
  }
}

@media only screen and (max-width: 666px) {
  .container {
    display: grid;
    margin: 0 auto;
    margin-top: 2rem;
    grid-template-columns: 300px;
    column-gap: 4rem;
    row-gap: 1rem;
    place-content: center;
  }
}

.education_text {
  display: flex;
  margin-top: 2rem;
  color: var(--my-gray);
}

.anhanguera {
  background: rgb(255, 182, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 182, 0, 1) 14%,
    rgba(255, 117, 0, 1) 100%
  );
}
.adatech {
  background: rgb(62, 62, 62);
  background: linear-gradient(
    90deg,
    rgba(62, 62, 62, 1) 14%,
    rgba(6, 6, 6, 1) 100%
  );
  color: rgb(166, 247, 80);
}
.microcamp {
  background: rgb(84, 84, 84);
  background: linear-gradient(
    90deg,
    rgba(84, 84, 84, 1) 26%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
}
